<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/template/template.xhtml">

	<ui:define name="titre">
		Ajouter livre
	</ui:define>


	<ui:define name="content">

		<h:form id="addemp">
<h:messages />
			<h:panelGrid columns="2">

				<h:outputLabel value="titre " />
				<h:inputText value="#{bookBean.book.title}" 
					required="true" requiredMessage="Champ obligatoire"/>

				<h:outputLabel value="price " />
				<h:inputText value="#{bookBean.book.price}">
				</h:inputText>


				<h:commandButton action="#{bookBean.back2()}"
					value="next" />
				<h:commandButton action="#{bookBean.cancel()}"
					value="Cancel" />

			</h:panelGrid>
		</h:form>
	</ui:define>

</ui:composition>
