<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/template/template.xhtml">

	<ui:define name="titre">
		list livres
	</ui:define>


	<ui:define name="content">
		<h:form id="ftable">
			<h:dataTable value="#{bookBean.books}" var="emp" width="80%"
				style="align:center" border="1">

				<h:column>
					<f:facet name="header">
						<h:outputLabel value="title" />
					</f:facet>
					<h:outputLabel value="#{emp.title}"></h:outputLabel>
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputLabel value="price" />
					</f:facet>
					<h:outputLabel value="#{emp.price}"></h:outputLabel>
				</h:column>
			</h:dataTable>
		</h:form>

		
	<br/><br/><br/>
	<h:link outcome="/pages/welcome" value="Page d'acceuil"/>
	<br/>
		
	</ui:define>

</ui:composition>
